@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Bleakwind Buffet</h1>

<p>We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the
    world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned
    sailor sodas. Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor 
    Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
